<div id="<%= dom_id add_endereco %>">
  <p>
    <strong>Endereço:</strong>
    <%= add_endereco.endereco %>
  </p>
  <p>
    <strong>Complemento:</strong>
    <%= add_endereco.complemento %>
  </p>
  <p>
    <strong>Número:</strong>
    <%= add_endereco.numero %>
  </p>
  <p>
    <strong>Tipo endereço:</strong>
    <%= add_endereco.tipo_endereco %>
  </p>
</div>
