<div id="<%= dom_id add_endereco %>">
  <p>
    <strong>Endereco:</strong>
    <%= add_endereco.endereco %>
  </p>

  <p>
    <strong>Tipo endereco:</strong>
    <%= add_endereco.tipo_endereco %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= add_endereco.complemento %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= add_endereco.numero %>
  </p>

</div>
