<p style="color: green"><%= notice %></p>

<%= render @add_endereco %>

<div>
  <%= link_to "Editar esse endereço", edit_add_endereco_path(@add_endereco) %> |
  <%= link_to "Voltar para endereços", add_enderecos_path %>

  <%= button_to "Deletar endereço", @add_endereco, method: :delete %>
</div>
