<p style="color: green"><%= notice %></p>

<%= render @add_endereco %>

<div>
  <%= link_to "Edit this add endereco", edit_add_endereco_path(@add_endereco) %> |
  <%= link_to "Back to add enderecos", add_enderecos_path %>

  <%= button_to "Destroy this add endereco", @add_endereco, method: :delete %>
</div>
