<!-- Header-->
<header class="bg-danger py-4">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Peça comida no Dever's Food!</h1>
      <p class="lead fw-normal text-white-50 mb-0">A entrega mais rápida do Brasil!</p>
    </div>
  </div>
</header>
<div class="justify-content-center">
<% if current_user %>
  <% if Endereco.where(users_id: current_user.id).present? %>
    <%= js_map [{latitude: Endereco.where(users_id: current_user.id)&.first&.lat, longitude: Endereco.where(users_id: current_user.id)&.first&.lon}, {latitude: -23.5603666, longitude: -46.658026315}], height: "400px" %>
  <% end %>
<% end %>
</div>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <h5>Procurar produtos:</h5>
      <%= form_tag(root_path, method: :get) do %>
        <%= text_field_tag(:search, params[:search]) %>
      <% end %>
    </div> <br>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @produtos.each do |prod| %>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" style="max-height:120px; object-fit:cover" src=<%= prod.img %> alt=<%= prod.descricao %> />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder"><%= prod.nome %></h5>
                <h6><%= prod.descricao %></h6><br>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <!-- Product price-->
              <div class="text-center">
                <p class="btn btn-success mt-auto" > R$ <%= sprintf('%.2f', prod.valor).to_s.gsub('.', ',') %> </p></div>
                <%= form_with(url: 'carrinho/add', class: 'text-center') do |f| %>
                  <%= f.hidden_field :id, value: prod.id %>
                  <%= f.number_field :qtd, value: 1, min: 1, style: 'max-width:50px' %>
                  <%= f.submit "+", class: "btn btn-outline-success mt-auto" %>
                <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
