<div id="<%= dom_id endereco %>">
  <p>
    <strong>Endereço:</strong>
    <%= endereco.endereco %>
  </p>

  <p>
    <strong>Tipo do Endereço:</strong>
    <%= endereco.tipo_endereco %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= endereco.complemento %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= endereco.numero %>
  </p>

  <p>
    <strong>CEP:</strong>
    <%= endereco.cep %>
  </p>

</div>
