<p style="color: green"><%= notice %></p>

<%= render @produto %>

<div>
  <%= link_to "Editar produto", edit_produto_path(@produto), class: 'btn btn-warning' %>
  <%= link_to "Voltar para produtos", produtos_path, class: 'btn btn-info' %>
  <%= link_to "Excluir produto", @produto, method: :delete, class: 'btn btn-danger'  %>
  <br>
</div>
