<div id="<%= dom_id formapagamento %>">
  <p>
    <strong>Forma pagamento:</strong>
    <%= formapagamento.forma_pagamento %>
  </p>

  <p>
    <strong>Numero do Cartão:</strong>
    <%= formapagamento.numero_cartao %>
  </p>

  <p>
    <strong>Validade do Cartão:</strong>
    <%= formapagamento.validade_cartao %>
  </p>

  <p>
    <strong>Código de Segurança:</strong>
    <%= formapagamento.codseguranca %>
  </p>

  <p>
    <strong>Nome impresso no cartão:</strong>
    <%= formapagamento.nomeimpresso %>
  </p>

</div>
